.con-cart-tariife {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px -2px 20px 0px rgba(52, 54.000000000000014, 65, 0.09);
  padding: 10px 15px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.con-cart-tariifeLaf .box-cart {
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  z-index: 5;
}
.hover-box {
  height: 70px;
  width: 70px;
  z-index: 1;
  border-radius: 0 130% 0 0;
  position: absolute;
  background-color: #f7f8ff;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}
.con-cart-tariife:hover .hover-box {
  width: 100%;
  height: 100%;
  border-radius: 15px !important;
  background-color: rgba(220, 220, 220, 0.022);
}
.box-cart {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.header-box-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-bottom: 1px dashed #e7e7e7;
}
.header-box-cart .price-tariife {
  font-size: 23px;
}
.header-box-cart .price-tariife span {
  font-size: 11px;
}

/* body */
.body-box-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.list-cart-tariffe {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
}
.list-item-cart {
  display: flex;
  column-gap: 4px;
}

.list-item-cart img {
  height: 17px;
  width: 17px;
}

.btn-cart-tariife {
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .header-box-cart .price-tariife {
    font-size: 19px;
  }
  .header-box-cart .price-tariife span {
    font-size: 10px;
  }
}
